/* src/index.css */
/* 메인 앱 컴포넌트의 스타일 */

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}
html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}
canvas {
    display: block;
    width: 100vw;
    height: 100vh;
    touch-action: none; 
}